doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/public/css/semantic.min.css')
    link(rel='stylesheet' href='/public/css/style.css')
    title Index Page

  body
    div#app-root!= markup
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js')
    script(src='/public/js/bundle.js')
