doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='style.css')
    title Index Page
  body
    p This is a paragraph
    div#root
    script(src='bundle.js')
