doctype html
html#htmlwrapper
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700', rel='stylesheet', type='text/css')

    block styles

  body
    //- Navigation Header
    include nav

    //- Content
    block content

  script(src='https://code.jquery.com/jquery-2.2.4.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.js')
  script(src='/js/dateonly.js')
  script(src='/js/global.js')
  block scripts
