extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/professor.css')

block content
  #container.ui.equal.width.center.aligned.grid
    .column
      #livestream.ui.segment
        p livestream
      #console.ui.segment
        p output

    .column
      #code-editor.ui.segment
        p code
