.codepad {
  height: 100%;
}

.grid {
  height: 92%;
}

.lectureLayout {
  height: 100%;
}

.menuHeader {
  height: 8%;
}

.column1 {
}

.column2 {
}

.videoPane {
  height: 50%;
}

.outputPane {
  height: 50%;
}
