.codepad {
  height: 100%;
}

.grid {
  height: 92%;
}

.lectureLayout {
  height: 100%;
}

.menuHeader {
  height: 8%;
}

.column1 {
  padding: 0 !important;
  width: 35% !important;
}

.column2 {
  padding: 0 !important;
  width: 65% !important;
  height: 100%;
}

.videoPane {
  height: 60%;
  overflow: hidden;
}

.outputPane {
  height: 40%;
}
